.header-container{
  display: flex;
  flex-direction: row;
  
}

.tab-header{
  border: 1px solid black;
  padding: 4px;
  margin: 2px;
}

.main-container{
  border: 2px solid black;
  height: 200px;
  padding: 4px;
}